@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/fonts.css */
@font-face {
  font-family: 'serpentine';
  src: url('/strikeforce/public/Serpentine\ BoldOblique.ttf') format('truetype');
}

* {
  font-family: 'serpentine';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



